<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    hola, bienvenido PUNTO DE EQUILIBRIO API aqui podras encontrar la informacion de la superfinaciera sobre las TEA de algunos de los productos finacieros 
    del mercado colombiano
    <a href="{{ url_for('creditoConsumo') }}">Creditos consumo</a>
    <a href="{{ url_for('tarjetadeCreditoConsumo') }}">Creditos consumo</a>
    <a href="{{ url_for('creditosViviendaConstruccionUvr') }}">Creditos consumo</a>
    <a href="{{ url_for('creditosViviendaConstruccionPesos') }}">Creditos consumo</a>
    <a href="{{ url_for('creditosViviendaAdquisicionPesos') }}">Creditos consumo</a>
</body>
</html>